ion-content {
    --ion-background-color: var(--ion-color-base);
}

.sc-ion-card-ios-h,
.sc-ion-card-md-h,
ion-card-content {
    --background: var(--ion-color-primary-contrast);
}

.sc-ion-card-md-h {
    margin: 30px 20px;
}

h1 {
    font-size: 16px;
    color: var(--ion-color-primary-contrast);
    text-align: center;
    text-transform: uppercase;
}

p {
    color: #141414;
}

.activation_icon {
    height: 150px;
    width: 150px;
}

a{
    cursor: pointer;
}
.logo {
    text-align: center;
    padding: 20px 0;
}

.activation_icon {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.activation_icon img {
    width: auto;
    display: inline-block;
}