ion-header {
    ion-toolbar {
        --background: var(--ion-color-base);

        ion-title {
            color: var(--ion-color-primary-contrast);
        }
    }
}
h3{
    color: #fb3d68;
    font-size: 16px;
    text-align: center
}
.sponsors_txt {
    position: absolute;
    top: -8px;
    right: 50%;
    margin: 0;
    margin-right: -50px;
    z-index: 99;
}