<ion-header>
  <ion-toolbar>
    <ion-title>Confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h3>Thank you</h3>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <p>Confirmation ID</p>
            <p>Reference ID</p>
          </ion-col>
          <ion-col size="6">
            <p></p>
            <p></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 4</h1>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>