<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <img src="../../assets/images/main_logo.png" alt="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    <iframe height="195px" width="100%" src="https://www.youtube.com/embed/Bey4XXJAqS8?controls=0" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </p>
  <ion-card>

    <ion-card-header>
      START NIGHT EVENT
      <div class="eventtime">
        {{eventtime | date: 'mediumDate'}}
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="home_content">
        <ion-slides pager="false" [options]="slideOpts">
          <ion-slide>
            <img src="../../assets/images/img1.png" alt="image">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/images/img2.png" alt="image">
          </ion-slide>
          <ion-slide>
            <img src="../../assets/images/img3.png" alt="image">
          </ion-slide>
          <ion-slide>
            
          </ion-slide>
        </ion-slides>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took. </p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-button color="secondary" expand="full" fill="solid" (click)="BookNow()">Book Event</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <p class="sponsors_txt">Event Sponsors</p>
  <ion-toolbar>    
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/images/1.png" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/images/2.png" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/images/3.png" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/images/4.png" />
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>
