ion-header {
    ion-toolbar {
        --background: var(--ion-color-base);

        ion-title {
            color: var(--ion-color-primary-contrast);
        }
    }
}

ion-grid{
    background: var(--ion-color-light);
}
h2{
    text-transform: uppercase;
    color: #fb3d68;
    font-size: 16px;
}
.perticket{
    font-size: 22px;
    color: #183a82;
}
.sponsors_txt {
    position: absolute;
    top: -8px;
    right: 50%;
    margin: 0;
    margin-right: -50px;
    z-index: 99;
}
.perticket_amount{
    text-align: center;
    font-size: 24px;
    color: #183a82;
}